<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Empresa Buen Aire</h1> - <h3>(2000 - 2017)</h3>
            </li>
            <p>Servicio técnico de aire acondicionado.</p>
        </ul>

        <ul>
            <li>
                <h1>Por cuenta propia</h1> - <h3>(2018 - 2022)</h3>
            </li>
            <p>Sevicio técnico de armado y reparación de computadoras.</p>
        </ul>

        <ul>
            <li>
                <h1>Por cuenta propia</h1> - <h3>(2018 - 2022)</h3>
            </li>
            <p>Dictado de clases de informática a adultos mayores.</p>
        </ul>

    </div>
</div>