<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio aperiam delectus natus nam eaque, numquam vitae laudantium explicabo molestiae necessitatibus, minima veniam excepturi voluptate repellendus magni commodi, labore voluptatum esse.</p>
        </ul>

        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptatem asperiores facere harum voluptatibus quod. Incidunt consectetur iste est eveniet numquam, quae illo assumenda? Eveniet tempora laudantium ipsam adipisci porro.</p>
        </ul>

        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, molestiae aliquam odio earum error accusamus maiores, tempora, quibusdam itaque obcaecati nihil facere vero saepe beatae minus laboriosam! Minus, atque fuga?</p>
        </ul>

    </div>
</div>