<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Ciencias Biológicas (UBA) </h1> - <h3>(1991)</h3>
            </li>
            <p>Cursada 1 año. </p>
        </ul>

        <ul>
            <li>
                <h1>Ciencias Veterinarias (UBA) </h1> - <h3>(1992 - 2000)</h3>
            </li>
            <p>Cursada hasta 3° año.</p>
        </ul>

        <ul>
            <li>
                <h1>Curso de reparación de computadoras</h1> - <h3>(2002)</h3>
            </li>
            <p>Centro de Formación Profesional N°20 (CABA)</p>
        </ul>

    </div>
</div>